.header {
    display: flex;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 30px 20px 30px;
}

.navLink {
    color: black;
    margin-left: 40px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 24px;;
}

.navLink:hover {
    text-decoration: underline;
}