.headerContainer {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    max-width: 1920px;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}

.navLink {
    color: black;
    margin-left: 40px;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 24px;;
}

.navLink:hover {
    text-decoration: underline;
}