.logementsDetail {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

.logementInfoContainer {
    display: flex;
    width: 100%;
}

.logementInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 10px 0;
}

.logementTitle {
    color: #FF6060;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 500;
    margin: 0;
}

.logementLocation {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    margin: 5px 0 0 0;
}

.tag {
    display: flex;
    align-items: center;
}

.logementTag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 25px;
    padding: 5px;
    margin: 15px 10px 0 0;
    color: white;
    font-weight: 700;
    font-family: Montserrat;
    background-color: #FF6060;
    border-radius: 10px;
}

.logementHostRating {
    display: flex;
    flex-direction: column;
    color: #FF6060;
}

.hostInfo {
    display: flex;
    margin-bottom: 15px;
    justify-content: end;
}

.logementHost {
    font-family: Montserrat;
    color: #FF6060;
    padding-right: 10px;
}

.logementHostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.rating {
    display: flex;
}

.star {
    margin-left: 10px;
    width: 36px;
    height: 36px;
}

.collapseContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
    margin: 20px 0 20px 0;
}

.collapseColonne {
    width: 50%;
}

@media (max-width: 1024px) {
    .logementInfoContainer {
        flex-direction: column;
    }

    .collapseContainer {
        flex-direction: column;
    }

    .logementHostRating {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }

    .hostInfo {
        order: 2;
    }

    .rating {
        order: 1;
    }

    .collapseColonne {
        width: 100%;
    }
}